.ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
}

.copy-button {
  width: 100px;
  height: 30px;
  /* position: absolute; */
  display: inline-block;
  /* top: 50%; */
  /* left: 50%; */
  /* margin-left: -50px; */
  /* margin-top: -15px; */
  text-align: center;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  color: white;
  border: none;
}
