.ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-bottom: -4px;
}

.copy-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  text-align: center;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  color: white;
  border: none;
  opacity: 0;
}

.ColorBox:hover .copy-button {
  opacity: 1;
  transition: 0.5s;
}

.box-content {
  position: absolute;
  padding: 10px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.see-more {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  border: none;
  right: 0px;
  bottom: 0;
  color: white;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 11px;
}

.copy-overlay {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.9s ease-in-out;
  transform: scale(0.1);
}
.copy-overlay.show {
  opacity: 1;
  z-index: 10;
  transform: scale(10);
  position: absolute;
}

.copy-msg {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  transform: scale(0.1);
  opacity: 0;
  color: white;
  transition: 0.9s;
}
.copy-msg.show {
  opacity: 1;
  transform: scale(1);
  z-index: 25;
}
