.body {
  min-height: 16vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  color: "white";
  font-weight: 100;
  font-size: 6rem;
  margin-left: 1px;
  margin-right: 1px;
  cursor: default;
  transition: all 0.2s ease-in-out;
  transform: scale(1.3);
}
.text:hover {
  font-weight: 700;
  font-size: 5rem;
}
.one {
  color: #f5df4d;
}
.two {
  color: #f6e25e;
}
.three {
  color: #f7e570;
}
.four {
  color: #f8e882;
}
.five {
  color: #f9eb94;
}
.six {
  color: #faeea6;
}
